export("%.%")
export("%contains%")
export(.T)
export(class.stats)
export(compose)
export(contains)
export(dostats)
export(factor.stats)
export(fill_v)
export(integer.stats)
export(listrows)
export(make_call)
export(make_new_id)
export(me)
export(numeric.stats)
export(onarg)
export(redirf)
export(seq_consecutive)
export(wargs)
