export("%.%")
export(class.stats)
export(collect)
export(compose)
export("%contains%")
export(contains)
export(dostats)
export(factor.stats)
export(integer.stats)
export(numeric.stats)
export(onarg)
export(seq_consecutive)
export(wargs)
